version: "3.9"

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j-credit
    ports:
      - "7474:7474"   # Neo4j Browser
      - "7687:7687"   # Bolt protocol (used by app)
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
